
<div class="main-layout--content row">
    <div class="dashboard">
        <div class="dashboard__content col-md-12">
            <div class="widget col-md-12" title="">
                <div class="tab-content">
                    <!-- dashboard-create-ticket-page -->
                    <div class="tab-pane dashboard-create-ticket-page active" id="CreateTicket">
                        <div>
                            <div class="create-ticket-form">
                                <div class="header">
                                    <h2 class="header__title">Create Ticket</h2>
                                    <div class="header__description">This is a form for creating
                                        tickets. Fill the form and send us your
                                        issues/doubts/suggestions. Our support system will answer it
                                        as
                                        soon as possible.
                                    </div>
                                </div>
                                <form class="form" action="/productSupport/Ticket/create" method="post">
                                    <label class="form-field">
                                        <span class="form-field__label">
                                            Name
                                        </span>
                                        <span class="input input_large">
                                            <input type="text" name="name" value="" aria-required="true"
                                                   class="input__text">
                                        </span>
                                    </label>
                                    <label class="form-field">
                                        <span class="form-field__label">
                                            Email
                                        </span>
                                        <span class="input input_large">
                                            <input type="email" name="email" value="" aria-required="true"
                                                   class="input__text">
                                        </span>
                                    </label>
                                    <label class="form-field">
                                        <span class="form-field__label">
                                            Title of the Problem
                                        </span>
                                        <span class="input input_large">
                                            <input type="text" name="title" value="" aria-required="true"
                                                   class="input__text">
                                        </span>
                                    </label>
                                    <div class="row">
                                        <label class="form-field form-field_select col-md-5">
                                            <input type="checkbox" id="buttonDeprtDropDown">
                                            <span class="form-field__label" for="button">
                                                Department
                                            </span>
                                            <div class="drop-down drop-down_closed drop-down_medium __DeprtDropDown">


                                                <select name="department" id="department">
                                                    {{#each departments}}
                                                        <option value="{{this}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </label>
                                        <label class="form-field form-field_select col-md-5">
                                            <input type="checkbox" id="buttonProdDropDown">
                                            <span class="form-field__label">
                                                Product
                                            </span>
                                            <div
                                                    class="drop-down drop-down_closed drop-down_medium language-selector __ProdDropDown">
                                                <select name="product" id="parentCat">
                                                    {{#each products}}
                                                        <option value="{{id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                                <div class="drop-down__list-container">

                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="form-field">
                                        <span class="form-field__label">
                                            Problem Description
                                        </span>
                                        <div class="text-editor">
                                            <div class="quill text-editor__editor">

                                                <textarea id="editor" name="content">
                                                                            Describe Here!!
                                                                        </textarea>
                                                <input name="image" type="file" id="upload" class="hidden" onchange="">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="capatcha">
                                        <span class="msg-error error"></span>
                                        {{{reCAPTCHA}}}
                                    </div>
                                    <button type="submit" class="button button_primary button_large submit-button">
                                        Create Ticket
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- #dashboard-create-ticket-page -->
                </div>
            </div>
        </div>
    </div>
</div>


    <!--<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>-->
    <!--<script>-->
        <!--CKEDITOR.replace('editor', {-->
            <!--filebrowserUploadUrl: '/uploader/upload'-->
        <!--});-->
    <!--</script>-->

<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />

<!-- Include JS file. -->
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0/js/froala_editor.pkgd.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.0.0/js/plugins/image.min.js"></script>
<script>
    var editor = new FroalaEditor('#editor',{
        imageUploadURL: '/productSupport/uploadeImageFromEditor',
        events: {
        'image.removed': function ($img) {
            $.ajax({
                // Request method.
                method: 'POST',

                // Request URL.
                url: '/productSupport/delete_file',

                // Request params.
                data: {
                    src: $img.attr('src')
                }
            })
                    .done (function (data) {
                        console.log ('Image was deleted');
                    })
                    .fail (function (err) {
                        console.log ('Image delete problem: ' + JSON.stringify(err));
                    })
        }
    }
       // imageManagerDeleteURL: '/productSupport/delete_file'
    });
console.log(editor.opts.events)
  </script>



    