<div class="main-layout-header">
    <div class="main-layout-header__login-links">
        Welcome,
        <span class="main-layout-header__user-name">
            Ahmed
        </span>
    </div>
    <div class="drop-down drop-down_closed language-selector main-layout-header__languages">
        <div aria-expanded="false" aria-autocomplete="list" aria-owns="drop-down-menu_1"
            aria-activedescendant="drop-down-menu_1__0" class="drop-down__current-item" role="combobox" tabindex="0">
            <div>
                <img class="drop-down__current-item-icon"
                    src="https://www.opensupports.com/demos/demo1/images/icons/us.png" aria-hidden="true">English
            </div>
        </div>
        <div class="drop-down__list-container" style="opacity: 0; transform: translateY(20px);">
            <div class="menu undefined">
                <ul id="drop-down-menu_1" role="listbox" class="menu__list">
                    <li id="drop-down-menu_1__0" class="menu__list-item menu__list-item_selected" role="option"><img
                            class="menu__icon" src="https://www.opensupports.com/demos/demo1/images/icons/us.png"
                            aria-hidden="true"><!-- react-text: 21 -->English
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__1" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/es.png" aria-hidden="true">
                        <!-- react-text: 24 -->Spanish
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__2" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/de.png" aria-hidden="true">
                        <!-- react-text: 27 -->German
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__3" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/fr.png" aria-hidden="true">
                        <!-- react-text: 30 -->French
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__4" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/pt.png" aria-hidden="true">
                        <!-- react-text: 33 -->Portuguese
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__5" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/jp.png" aria-hidden="true">
                        <!-- react-text: 36 -->Japanese
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__6" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/ru.png" aria-hidden="true">
                        <!-- react-text: 39 -->Russian
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__7" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/cn.png" aria-hidden="true">
                        <!-- react-text: 42 -->Chinese
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__8" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/in.png" aria-hidden="true">
                        <!-- react-text: 45 -->Hindi
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__9" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/tr.png" aria-hidden="true">
                        <!-- react-text: 48 -->Turkish
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__10" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/it.png" aria-hidden="true">
                        <!-- react-text: 51 -->Italian
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__11" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/br.png" aria-hidden="true">
                        <!-- react-text: 54 -->Portuguese(BR)
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__12" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/gr.png" aria-hidden="true">
                        <!-- react-text: 57 -->Greek
                        <!-- /react-text -->
                    </li>
                    <li id="drop-down-menu_1__13" class="menu__list-item" role="option"><img class="menu__icon"
                            src="https://www.opensupports.com/demos/demo1/images/icons/nl.png" aria-hidden="true">
                        <!-- react-text: 60 -->Dutch
                        <!-- /react-text -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-layout--content row">
    <div class="dashboard">
        <div class="dashboard__content col-md-12">
            <div class="widget col-md-12" title="">
                <div class="tab-content">
                    <!-- dashboard-create-ticket-page -->
                    <div class="tab-pane dashboard-create-ticket-page active" id="CreateTicket">
                        <div>
                            <div class="create-ticket-form">
                                <div class="header">
                                    <h2 class="header__title">Create Ticket</h2>
                                    <div class="header__description">This is a form for creating
                                        tickets. Fill the form and send us your
                                        issues/doubts/suggestions. Our support system will answer it
                                        as
                                        soon as possible.
                                    </div>
                                </div>
                                <form class="form" action="/productSupport/Ticket/create" method="post">
                                    <label class="form-field">
                                        <span class="form-field__label">
                                            Name
                                        </span>
                                        <span class="input input_large">
                                            <input type="text" name="name" value="" aria-required="true"
                                                class="input__text">
                                        </span>
                                    </label>
                                    <label class="form-field">
                                        <span class="form-field__label">
                                            Email
                                        </span>
                                        <span class="input input_large">
                                            <input type="email" name="email" value="" aria-required="true"
                                                class="input__text">
                                        </span>
                                    </label>
                                    <label class="form-field">
                                        <span class="form-field__label">
                                            Title of the Problem
                                        </span>
                                        <span class="input input_large">
                                            <input type="text" name="title" value="" aria-required="true"
                                                class="input__text">
                                        </span>
                                    </label>
                                    <div class="row">
                                        <label class="form-field form-field_select col-md-5">
                                            <input type="checkbox" id="buttonDeprtDropDown">
                                            <span class="form-field__label" for="button">
                                                Department
                                            </span>
                                            <div class="drop-down drop-down_closed drop-down_medium __DeprtDropDown">


                                                <select name="department" id="department">
                                                    {{#each departments}}
                                                    <option value="{{this}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </label>
                                        <label class="form-field form-field_select col-md-5">
                                            <input type="checkbox" id="buttonProdDropDown">
                                            <span class="form-field__label">
                                                Product
                                            </span>
                                            <div
                                                class="drop-down drop-down_closed drop-down_medium language-selector __ProdDropDown">
                                                <select name="product" id="parentCat">
                                                    {{#each products}}
                                                    <option value="{{id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                                <div class="drop-down__list-container">

                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="form-field">
                                        <span class="form-field__label">
                                            Problem Description
                                        </span>
                                        <div class="text-editor">
                                            <div class="quill text-editor__editor">

                                                <textarea id="editor" name="content">
                                                                            Describe Here!!
                                                                        </textarea>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="capatcha">
                                        <span class="msg-error error"></span>
                                        {{{reCAPTCHA}}}
                                    </div>
                                    <button type="submit" class="button button_primary button_large submit-button">
                                        Create Ticket
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- #dashboard-create-ticket-page -->
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor', {
            filebrowserUploadUrl: '/uploader/upload'
        });
    </script>













    