
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />


<div class="main-layout--content row">
    <div class="dashboard">
        <div class="dashboard__menu col-md-3">
            <div class="menu menu_secondary undefined">
                <div class="menu__header" data-translatable >Dashboard // الرئيسية</div>
                <ul class="menu__list nav nav-tabs">
                    <li class="menu__list-item active" tabindex="0">
                        <a href="#TicketList" data-toggle="tab" data-translatable>
                            <span class="fa fa-file-text-o fa-lg menu__icon" aria-hidden="true"></span>
                            Ticket List // عرض الكل
                        </a>
                    </li>
                    <li class="menu__list-item" tabindex="0">
                        <a href="#CreateTicket" data-toggle="tab" data-translatable >
                            <span class="fa fa-plus fa-lg menu__icon" aria-hidden="true"></span>
                            Create Ticket // إنشاء
                        </a>
                    </li>
                    <li class="menu__list-item" tabindex="0">
                        <a href="#ViewArticles" data-toggle="tab" data-translatable >
                            <span class="fa fa-question fa-lg menu__icon" aria-hidden="true"></span>
                            Help // مساعدة
                        </a>
                    </li>
                    <li class="menu__list-item" tabindex="0">
                        <a href="#EditProfile" data-toggle="tab" data-translatable >
                            <span class="fa fa-pencil fa-lg menu__icon" aria-hidden="true"></span>
                            Edit Profile // تعديل الملف الشخصي
                        </a>
                    </li>
                    <li class="menu__list-item" tabindex="0">
                        <a href="/productSupport/logout" data-translatable>
                            <span class="fa fa-lock fa-lg menu__icon" aria-hidden="true"></span>
                            Close session // خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dashboard__content col-md-9">
            <div class="widget col-md-12" title="">
                <div class="tab-content">
                    <!-- dashboard-ticket-list -->
                    <div class="tab-pane dashboard-ticket-list active" id="TicketList">
                        <div class="header">
                            <h2 class="header__title" data-translatable >Ticket List // عرض الكل</h2>
                            <div class="header__description" data-translatable >Here you can find a list of all tickets
                                you
                                have sent to our support team.
                                //

                            </div>
                        </div>
                        <div class="ticket-list">
                            <div class="ticket-list__filters"></div>
                            <div class="table__wrapper">

                                <table class="table table-responsive" id="tickets">
                                    <thead>
                                        <tr class="table__header">
                                            <th class="table__header-column ticket-list__number col-md-1" data-translatable>
                                                Number // الرقم
                                            </th>
                                            <th class="table__header-column ticket-list__title col-md-2" data-translatable>
                                                Title // العنوان
                                            </th>
                                            <th class="table__header-column ticket-list__title col-md-3" data-translatable>
                                                Product // المنتج
                                            </th>
                                            <th class="table__header-column ticket-list__department col-md-3" data-translatable>
                                                Department // القسم
                                            </th>
                                            <th class="table__header-column ticket-list__department col-md-1" data-translatable>
                                                Status // الحالة
                                            </th>
                                            <th class="table__header-column ticket-list__date col-md-2" data-translatable>
                                                Date // التاريخ
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each tickets}}
                                        <tr class="table__row">
                                            <td class="table__cell ticket-list__number col-md-1">
                                                <a href="#">{{id}}</a>
                                            </td>
                                            <td class="table__cell ticket-list__title col-md-2">
                                                <div>
                                                    {{title}}
                                                </div>
                                            </td>
                                            <td class="table__cell ticket-list__department col-md-3">
                                                {{product.name}}
                                            </td>
                                            <td class="table__cell ticket-list__department col-md-3">
                                                {{department}}
                                            </td>
                                            <td class="table__cell ticket-list__number col-md-1">
                                                {{status}}
                                            </td>
                                            <td class="table__cell ticket-list__date col-md-2">31
                                                {{time date 'MMMM D YYYY'}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- #dashboard-ticket-list -->
                    <!-- dashboard-create-ticket-page -->
                    <div class="tab-pane dashboard-create-ticket-page" id="CreateTicket">
                        <div>
                            <div class="create-ticket-form">
                                <div class="header">
                                    <h2 class="header__title" data-translatable>Create Ticket // إنشاء </h2>
                                    <div class="header__description" data-translatable>This is a form for creating
                                        tickets. Fill the form and send us your
                                        issues/doubts/suggestions. Our support system will answer it
                                        as
                                        soon as possible.
                                        //
                                    </div>
                                </div>
                                <form class="form" action="/productSupport/Ticket/create" method="post">
                                    <label class="form-field">

                                        <span class="input input_large">
                                            <input type="hidden" name="name" value="{{user.name}}" aria-required="true"
                                                class="input__text">
                                        </span>
                                    </label>
                                    <label class="form-field">

                                        <span class="input input_large">
                                            <input type="hidden" name="email" value="{{user.email}}"
                                                aria-required="true" class="input__text">
                                        </span>
                                    </label>
                                    <label class="form-field">
                                        <span class="form-field__label" data-translatable>
                                            Title of the Problem // عنوان المشكلة
                                        </span>
                                        <span class="input input_large">
                                            <input type="text" name="title" value="" aria-required="true"
                                                class="input__text">
                                        </span>
                                    </label>
                                    <div class="row">
                                        <label class="form-field form-field_select col-md-5">
                                            <input type="checkbox" id="buttonDeprtDropDown">
                                            <span class="form-field__label" for="button" data-translatable>
                                                Department // القسم
                                            </span>
                                            <div class="drop-down drop-down_closed drop-down_medium __DeprtDropDown">


                                                <select name="department" id="department">
                                                    {{#each departments}}
                                                    <option class="dropOption" value="{{this}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </label>
                                        <label class="form-field form-field_select col-md-5">
                                            <input type="checkbox" id="buttonProdDropDown">
                                            <span class="form-field__label" data-translatable>
                                                Product // المنتج
                                            </span>
                                            <div
                                                class="drop-down drop-down_closed drop-down_medium language-selector __ProdDropDown">
                                                <select name="product" id="parentCat">
                                                    {{#each products}}
                                                    <option class="dropOption" value="{{id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                                <div class="drop-down__list-container">

                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="form-field">
                                        <span class="form-field__label" data-translatable>
                                            Problem Description // وصف المشكلة
                                        </span>
                                        <div class="text-editor">
                                            <div class="quill text-editor__editor">

                                                <textarea id="editor" name="content" data-translatable>
                                                                            Describe Here!! // أوصف هنا
                                                                        </textarea>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="capatcha">
                                        <span class="msg-error error"></span>
                                        {{{reCAPTCHA}}}
                                    </div>
                                    <button type="submit" class="button button_primary button_large submit-button"data-translatable >
                                        Create Ticket // إنشاء
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- #dashboard-create-ticket-page -->
                    <!-- dashboard-Help-page -->
                    <div class="tab-pane dashboard-list-articles-page" id="ViewArticles">
                        <div>
                            <div class="header">
                                <h2 class="header__title" data-translatable>Help // مساعدة</h2>
                                <div class="header__description" data-translatable>This is a list of articles that
                                    includes information about our services.
                                    //
                                </div>
                            </div>
                            <div class="content__help">
                                <div class="account_logo">
                                    <img src="/images/img/favIcon.png" alt="">
                                    <span data-translatable>kalemon school // </span>
                                </div>
                                <div class="account_logo">
                                    <img src="/images/img/favIcon.png" alt="">
                                    <span data-translatable>kalemon school // </span>
                                </div>
                                <div class="account_logo">
                                    <img src="/images/img/favIcon.png" alt="">
                                    <span data-translatable>kalemon school // </span>
                                </div>
                                <div class="account_logo">
                                    <img src="/images/img/favIcon.png" alt="">
                                    <span data-translatable>kalemon school // </span>
                                </div>
                                <div class="account_logo">
                                    <img src="/images/img/favIcon.png" alt="">
                                    <span data-translatable>kalemon school // </span>
                                </div>
                                <div class="account_logo">
                                    <img src="/images/img/favIcon.png" alt="">
                                    <span data-translatable>kalemon school // </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #dashboard-Help-page -->
                    <!-- edit-profile-page -->
                    <div class="tab-pane edit-profile-page" id="EditProfile">
                        <div class="header">
                            <h2 class="header__title" data-translatable >Edit Profile // تعديل الملف الشخصي</h2>
                            <div class="header__description" data-translatable>Here you can edit your user by changing
                                your email or your password.
                                //
                            </div>
                        </div>

                            <div class="row form_inputs">
                                <form class="form staff-editor__update-email" method="post"
                                      action="/productSupport/editProfile"><label class="form-field"><span
                                        class="form-field__label" data-translatable >Email // البريد الإلكتروني
                                    <!-- /react-text --></span><span class="input input_large"><input
                                        type="text" name="email" value="{{user.email}}"
                                        aria-required="true" class="input__text"></span></label>
                                    <button
                                            class="button button_primary button_medium submit-button staff-editor__submit-button" data-translatable>
                                        Update
                                        email // تعديل
                                    </button>
                                </form>
                                <span class="separator staff-editor__separator"></span>
                                <div class="edit-profile-page__title" data-translatable >Edit password // تعديل الرقم السري</div>
                                <form class="form" method="post" action="/productSupport/editProfile"><label class="form-field"><span
                                        class="form-field__label" data-translatable>Old password // الرقم السري السابق
                                    <!-- /react-text --></span><span
                                        class="input input_large"><input type="password"
                                                                         name="oldPassword" aria-required="true"
                                                                         class="input__text"
                                                                         value=""></span></label><label
                                        class="form-field"><span
                                        class="form-field__label" data-translatable >New password // الرقم السري الجديد
                                    <!-- /react-text --></span><span
                                        class="input input_large"><input type="password" name="password"
                                                                         aria-required="true"
                                                                         class="input__text"
                                                                         value=""></span></label><label
                                        class="form-field"><span
                                        class="form-field__label" data-translatable > Repeat new password // تأكيد الرقم السري الجديد
                                    <!-- /react-text --></span><span
                                        class="input input_large"><input type="password"
                                                                         name="repeatNewPassword"
                                                                         aria-required="true"
                                                                         class="input__text"
                                                                         value=""></span></label>
                                    <button
                                            class="button button_primary button_large submit-button" type="submit" data-translatable>Change
                                        password // تغيير الرقم السري
                                    </button>
                                </form>
                            </div>
                    </div>
                    <!-- #edit-profile-page -->
                </div>
            </div>
        </div>
    </div>
</div>





<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />

<!-- Include JS file. -->
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0/js/froala_editor.pkgd.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.0.0/js/plugins/image.min.js"></script>
<script>
    var editor = new FroalaEditor('#editor',{
        imageUploadURL: '/productSupport/uploadeImageFromEditor',
        events: {
            'image.removed': function ($img) {
                $.ajax({
                    // Request method.
                    method: 'POST',

                    // Request URL.
                    url: '/productSupport/delete_file',

                    // Request params.
                    data: {
                        src: $img.attr('src')
                    }
                })
                        .done (function (data) {
                            console.log ('Image was deleted');
                        })
                        .fail (function (err) {
                            console.log ('Image delete problem: ' + JSON.stringify(err));
                        })
            }
        }
        // imageManagerDeleteURL: '/productSupport/delete_file'
    });
    console.log(editor.opts.events)
</script>