<div class="myProducts row">
    <div class="myTickets__content col-md-12">
        <div class="widget col-md-12" title="">
            {{!--  --}}
            <div class="ticket-list tab-content current" id="tab-1">
                <div class="header">
                    <h2 class="header__title">vnkjhnlkjo</h2>
                </div>
            </div>
            {{!--  --}}
            <div class="ticket-list tab-content" id="tab-2">
                <div class="header">
                    <h2 class="header__title">vnkjhnlkjo</h2>
                </div>
                <div class="ticket-list__filters"></div>
                <div class="table__wrapper">
                    <div id="tickets_wrapper" class="dataTables_wrapper no-footer">


                        <table class="table table-responsive dataTable no-footer">
                            <thead>
                                <tr class="table__header" role="row">
                                    <th class="table__header-column">Code</th>
                                    <th class="table__header-column">Name</th>
                                    <th class="table__header-column">CreatedBY</th>
                                    <th class="table__header-column">Date</th>
                                    <th class="table__header-column">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="productTableBody">
                                {{#each products}}
                                <tr class="table__row odd" role="row">
                                    <td class="table__cell">{{id}}</td>
                                    <td class="table__cell">{{name}}</td>
                                    <td class="table__cell">admin</td>
                                    <td class="table__cell">{{time date 'D MMMM  YYYY'}}</td>
                                    <td class="table__cell">
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#editModal{{id}}">Edit
                                        </button>
                                        {{!-- Modal --}}
                                        <div class="modal fade" id="editModal{{id}}" role="dialog">
                                            <div class="modal-dialog">
                                                <form method="post" action="/admin/products/update/{{id}}">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Edit Product Name</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="name">Name:</label>
                                                                <input type="text" class="input__text" id="name"
                                                                    name="name" value="{{name}}">
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success">Save</button>
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                        <a href="/admin/products/delete/{{id}}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                        <div style="text-align: right; margin-top: 10px;">
                            <button class="button button_secondary button_medium" type="button" data-toggle="modal"
                                data-target="#addModal">
                                <span class="fa fa-plus fa-sm undefined" aria-hidden="true"></span>
                                add Product
                            </button>
                            <!-- Modal -->
                            <div id="addModal" class="modal fade add_product_modal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add Product</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="productName">Name:</label>
                                                <input type="text" class="input__text" id="productName"
                                                    name="name" value="{{productName}}">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="addProduct" class="btn btn-success">Save</button>
                                            <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <script>
                            $("#addProduct").click(function () {
                                var name = $('#productName').val();
                                $.ajax({
                                    type: 'post',
                                    url: "/admin/products/create",
                                    data: {
                                        name: name,
                                    },
                                    success: function (data) {
                                        $('#productTableBody').append(
                                            '<tr style="background-color:#09090926">' +
                                            '<td>' + data._id + '</td>' +
                                            '<td>' + data.name + '</td>' +
                                            '<td>' + 'admin' + '</td>' +
                                            '<td>' + '{{time data.date  '
                                            D MMMM YYYY '}}' + '</td>' +
                                            '<td>' + '<a href="products/delete/' + data._id +
                                            '" class="btn btn-danger">مسح</a>' + '</td>' +
                                            '</tr>');
                                        $('#addModal').modal('toggle');
                                    }
                                });
                            });


                      
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>