<style>
    .row_clickable{
        cursor:pointer;
    }
</style>
<div class="adminTickets row">
    <div class="myTickets__content col-md-12">
        <div class="widget col-md-12" title="">
            <div class="ticket-list tab-content current" id="tab-1">
                <div class="header">
                    <h2 class="header__title">All Tickets</h2>
                </div>
                <div class="ticket-list__filters"></div>
                <div class="table__wrapper">
                    <div id="tickets_wrapper" class="dataTables_wrapper no-footer">

                        <table class="table table-responsive dataTable no-footer">
                            <thead>
                                <tr class="table__header" role="row">
                                    <th class="table__header-column"  data-translatable>Number // الرقم </th>
                                    <th class="table__header-column"  data-translatable>Name // الاسم </th>
                                    <th class="table__header-column"  data-translatable>Status // الحالة </th>
                                    <th class="table__header-column"  data-translatable>Department // القسم </th>
                                    <th class="table__header-column"  data-translatable>Product // المنتج </th>
                                    <th class="table__header-column"  data-translatable>Author // المؤلف </th>
                                    <th class="table__header-column"  data-translatable>Date // التاريخ </th>
                                </tr>
                            </thead>
                            <tbody id="productTableBody">
                                {{#each tickets as |ticketvalue ticketkey|}}

                                <tr class="table__row odd row_clickable" role="row" onclick="window.location.href='/admin/ticket/view/{{id}}'">
                                    <td class="table__cell">#{{number}}</td>
                                    <td class="table__cell">{{title}}</td>
                                    <td class="table__cell">{{status}}</td>
                                    <td class="table__cell" data-translatable>{{department}} // {{arDepartment department }}  </td>
                                    <td class="table__cell" data-translatable>{{product.enName}} // {{product.arName}}</td>
                                    <td class="table__cell">{{userName}}</td>
                                    <td class="table__cell">{{time date 'D MMMM  YYYY'}}</td>

                                </tr>

                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{!--  --}}
            <div class="ticket-list tab-content" id="tab-2">
                <div class="header">
                    <h2 class="header__title">vnkjhnlkjo</h2>
                </div>
                <div class="ticket-list__filters"></div>
                <div class="table__wrapper">
                    <div id="tickets_wrapper" class="dataTables_wrapper no-footer">

                        <table class="table table-responsive dataTable no-footer">
                            <thead>
                            <tr class="table__header" role="row">
                                <th class="table__header-column"  data-translatable>Number // الرقم </th>
                                <th class="table__header-column"  data-translatable>Name // الاسم </th>
                                <th class="table__header-column"  data-translatable>Status // الحالة </th>
                                <th class="table__header-column"  data-translatable>Department // القسم </th>
                                <th class="table__header-column"  data-translatable>Product // المنتج </th>
                                <th class="table__header-column"  data-translatable>Author // المؤلف </th>
                                <th class="table__header-column"  data-translatable>Date // التاريخ </th>
                            </tr>
                            </thead>
                            <tbody id="productTableBody">
                            {{#each MyTickets as |ticketvalue ticketkey|}}
                                <tr class="table__row odd" role="row">
                                    <td class="table__cell"><a href="/admin/ticket/view/{{id}}">{{number}}</a></td>
                                    <td class="table__cell">{{title}}</td>
                                    <td class="table__cell">{{status}}</td>
                                    <td class="table__cell" data-translatable>{{department}} // {{arDepartment department }}  </td>
                                    <td class="table__cell" data-translatable>{{product.enName}} // {{product.arName}}</td>
                                    <td class="table__cell">{{userName}}</td>
                                    <td class="table__cell">{{time date 'D MMMM  YYYY'}}</td>

                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{!--  --}}

        </div>
    </div>
</div>