<div class="view_ticket row">
    <div class="myTickets__content col-md-12">
        <div class="widget col-md-12" title="">


            <form method="post" action="/productSupport/Ticket/update/{{ticket.id}}">
                <div class="form-group">
                    <label class="form-field__label" for="title" data-translatable>title : // العنوان :</label>
                    <span class="label_value">{{ticket.title}}</span>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="title" data-translatable>workedBy : // تم العمل
                        بواسطة </label>

                    <span class="label_value">{{ticket.workedBy.name}} <span
                            class="role" data-translatable>{{ticket.workedBy.role}} //  {{arRoles ticket.workedBy.role}}</span></span>
                    <select id="department" name="workedBy" class="input__text">
                        <option value="">------</option>
                        {{#each stuff }}
                            <option value="{{this.id}}" {{#ifEquals ../ticket.workedBy.id this.id}}
                            selected {{/ifEquals}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="title" data-translatable>author : // المؤلف</label>
                    <span class="label_value">{{ticket.userName}}</span>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="department" data-translatable>department : // القسم </label>
                    <span class="label_value" data-translatable>{{ticket.department}} //  {{arDepartment ticket.department }}</span>
                    <select id="department" name="department" class="input__text">
                        {{#each departments }}
                            <option {{#ifEquals ../ticket.department this}} selected {{/ifEquals}}  data-translatable>{{this}} //  {{arDepartment this }}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="product" data-translatable>product : // المشروع </label>
                    <span class="label_value" data-translatable>{{ticket.product.enName}} // {{ticket.product.arName}} </span>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="status" data-translatable>status : // الحالة </label>
                    <span class="label_value">{{ticket.status}}</span>
                    <div class="toggle">
                        <div class="onoffswitch">
                            <input type="checkbox" name="status" value="open" class="onoffswitch-checkbox"
                                   id="myonoffswitch"
                                {{#ifEquals ticket.status 'open' }}checked {{/ifEquals}}>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-field__label" for="content" data-translatable>content : // المحتوى </label>
                    <span class="label_value">{{{ticket.content}}} </span>
                </div>
                <div class="form-group btns">
                    {{#ifEquals user.role 'stuff'}}
                        {{#ifEquals ticket.workedBy.id user.id}}
                        <button type="submit" class="btn btn-info" data-translatable>Edit // تعديل
                        {{/ifEquals}}
                    {{/ifEquals}}
                </button>
                    {{#ifEquals user.role 'admin'}}
                        <button type="submit" class="btn btn-info" data-translatable>Edit // تعديل
                        </button>
                        <a href="/productSupport/Ticket/delete/{{ticket.id}}" class="btn btn-danger" data-translatable>Delete
                            // مسح </a>
                    {{/ifEquals}}
                    {{#unless ticket.workedBy}}
                        <a href="/stuff/assign/{{ticket.id}}" class="btn btn-primary" data-translatable>Assign // العمل
                            عليها </a>
                    {{/unless}}

                </div>

            </form>
            <div class="detailBox">
                <div class="actionBox">
                    <ul class="commentList">
                        {{#each comments}}
                            <li>
                                <div class="commenterImage">
                                    <img src="/images/profileImages/{{user.img}}" alt="">

                                </div>
                                <div class="commentText">
                                    <h3>{{this.user.name}}</h3>
                                    <span class="date sub-text">
                                        {{time date  'MMMM D YYYY'}}
                                    </span>
                                    <p class="">{{this.comment}}</p>
                                </div>
                            </li>

                        {{/each}}
                    </ul>
                    <!--<form class="form-inline" role="form">-->
                    <div class="form-group commentinput">
                        <input class=" input__text" type="text" placeholder="Your comments"  name="comment"
                               id="comment"/>
                        <input class=" " type="hidden" name="ticket_id" id="ticket_id" value="{{ticket.id}}"/>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="button" class="btn btn-default" onclick="addComment()" data-translatable>Add //  حفظ

                        </button>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tickets_Tab').addClass('menu__list-item_selected');
</script>
<script>
    function addComment() {
        $.ajax({
            url: "/addComment",
            type: 'post',
            data: {
                comment: $('#comment').val(),
                ticket_id: $('#ticket_id').val()
            },
            cache: false,
            success: function (comment) {
                $('.commentList').append('   <li>\n' +
                        '                                <div class="commenterImage">\n' +
                        '                                    <img src="/images/profileImages/' + comment.comment.user.img + '" alt="">\n' +
                        '                                    \n' +
                        '                                </div>\n' +
                        '                                <div class="commentText">\n' +
                        '                                    <h3>' + comment.comment.user.name + '</h3>\n' +
                        '                                    <span class="date sub-text">\n' +
                        '                                        {{time date  'MMMM D YYYY'}}\n' +
                        '                                    </span>\n' +
                        '                                    <p class="">' + comment.comment.comment + '</p> \n' +
                        '                                </div>\n' +
                        '                            </li>\n');
                var socket2 = io();
                console.log(comment.message)
                socket2.emit('adminComment', {message: comment.message, sendTo: comment.sendTo});

            }

        });

    }
</script>