<div class="view_ticket row">
    <div class="myTickets__content col-md-12">
        <div class="widget col-md-12" title="">


            <form method="post" action="/productSupport/Ticket/update/{{ticket.id}}">
                <div class="form-group">
                    <label class="form-field__label" for="title">title : </label>
                    <span class="label_value">{{ticket.title}}</span>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="title">author : </label>
                    <span class="label_value">{{ticket.userName}}</span>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="department">department :</label>
                    <span class="label_value">{{ticket.department}}</span>
                    <select id="department" name="department" class="input__text">
                        {{#each departments }}
                            <option {{#ifEquals ../ticket.department this}} selected {{/ifEquals}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="product">product : </label>
                    <span class="label_value">{{ticket.product.name}}</span>
                </div>
                <div class="form-group">
                    <label class="form-field__label" for="status">status :</label>
                    <span class="label_value">{{ticket.status}}</span>
                    <div class="toggle">
                        <div class="onoffswitch">
                            <input type="checkbox" name="status" value="open" class="onoffswitch-checkbox"
                                   id="myonoffswitch"
                                {{#ifEquals ticket.status 'open' }}checked {{/ifEquals}}>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-field__label" for="content">content :</label>
                    <span class="label_value">{{{ticket.content}}}</span>
                </div>
                <div class="form-group btns">
                    <button type="submit" class="btn btn-info">Edit
                    </button>
                    <a href="/productSupport/Ticket/delete/{{ticket.id}}" class="btn btn-danger">Delete</a>
                </div>

            </form>
            <div class="detailBox">
                <div class="titleBox">
                    <label>Comment Here!!</label>

                </div>
                <div class="commentBox">

                    <p class="taskDescription"></p>
                </div>
                <div class="actionBox">
                    <ul class="commentList">
                        {{#each comments}}
                            <li>
                                <div class="commenterImage">
                                    {{this.user.name}}
                                </div>
                                <div class="commentText">
                                    <p class="">{{this.comment}}</p> <span class="date sub-text">{{time date
                                                                                                        'MMMM D YYYY'}}</span>

                                </div>
                            </li>

                        {{/each}}
                    </ul>
                    <!--<form class="form-inline" role="form">-->
                    <div class="form-group commentinput">
                        <input class=" input__text" type="text" placeholder="Your comments" name="comment"
                               id="comment"/>
                        <input class=" " type="hidden" name="ticket_id" id="ticket_id" value="{{ticket.id}}"/>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="button" class="btn btn-default" onclick="addComment()">Add</button>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tickets_Tab').addClass('menu__list-item_selected');
</script>
<script>
    function addComment() {
        $.ajax({
            url: "/addComment",
            type: 'post',
            data: {
                comment: $('#comment').val(),
                ticket_id: $('#ticket_id').val()
            },
            cache: false,
            success: function (comment) {

                $(".commentList").append('<li>\n' +
                        '<div class="commenterImage">\n' +
                        '' + comment.comment.user.name + '\n' +
                        '</div>\n' +
                        ' <div class="commentText">\n' +
                        '  <p class="">' + comment.comment.comment + '</p> <span class="date sub-text">{{time
                                comment.date
                                'MMMM D YYYY'}} </span>\n' +

                        '   </div>\n' +
                        ' </li>\n');
            }
        });
    }
</script>